*.class

# Package Files #
*.jar
*.war
*.ear

# Maven #
target
poker.

# IntelliJ #
.idea
*.iml

# Apple #
.DS_Store
poker.properties

poker.script

poker.script

*.properties

*.script

poker.properties

poker.script
